<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
</head>
<body>
    <h1>Oreder Successfull !!</h1>
    <img src="https://cdn.dribbble.com/users/915564/screenshots/16450609/media/0dbde21d5f7aae250430f385c99f18ed.jpg?resize=768x576&vertical=center">
    
</body>
</html>